*
!install.sh
!.gitignore
!README.md
!/.config/code-flags.conf
!/.config/hypr
!/.config/kitty
!/.config/rofi
!/.config/sddm
!/.config/swaylock
!/.config/swaync
!/.config/wal
!/.config/waybar
!/wallpaper

/.config/chromium
/.config/dconf
/.config/gtk-3.0
/.config/xsettingsd
/.config/VSCodium